
    #headline {
    text-decoration: none
    }
    #results {

    font-weight: bold;
    border: 1px solid #ddd;
    text-align: left;
    min-height: 150px;
    }

    .interim {
    color: gray;
    }
    .final {
    color: black;
    padding-right: 3px;
    }
    .button {
    display: none;
    }
    .marquee {
    margin:  auto;
    }
