{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
         <link rel="stylesheet" href="{% static 'css/proprii.css' %}">
        <title>Tree Inventory</title>
    </head>
    <body>
        <div>
            <h1><a href="">Tree Inventory</a></h1>
        </div>

        <div>

          <table class="table table-striped">
            <thead>
             <tr>
               <th>id</th>
               <th>Name</th>
               <th>City</th>
               <th>Street</th>
               <th>Code</th>
               <th>Date</th>
               <th>Edit</th>
             </tr>
            </thead>
            <tbody>
              {% for inventory in inventorys %}

                <span>
                  <tr>
                    <td>{{inventory.id}}</td>
                    <td>{{inventory.name}}</td>
                    <td>{{inventory.city}}</td>
                    <td>{{inventory.street}}</td>
                    <td>{{inventory.code}}</td>
                    <td>{{inventory.date}}</td>
                    <td>  <a href="/inventory/{{inventory.id}}/"> Click </a></td>
                  </tr>
                </span>

             {% endfor %}

            </tbody>
          </table>

        </div>
    </body>
</html>
