{% extends 'inventory/base.html' %}
{% block content %}

          <table class="table table-striped">
            <thead>
             <tr>
               <th>id</th>
               <th>Name</th>
               <th>City</th>
               <th>Street</th>
               <th>Code</th>
               <th>Date</th>
               <th>Edit</th>
             </tr>
            </thead>
            <tbody>
              {% for inventory in inventorys %}

                <span>
                  <tr>
                    <td>{{inventory.id}}</td>
                    <td>{{inventory.name}}</td>
                    <td>{{inventory.city}}</td>
                    <td>{{inventory.street}}</td>
                    <td>{{inventory.code}}</td>
                    <td>{{inventory.created_date}}</td>
                    <td>  <a href="/inventory/{{inventory.id}}/"> Click </a></td>
                  </tr>
                </span>

             {% endfor %}

            </tbody>
          </table>

        </div>
    </body>
</html>
{% endblock content %}
