{% extends 'inventory/base.html' %}
{% block content %}

<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inventory List</a></li>

  </ol>
</div>
<div class="container">
    <table class="table table-striped">
      <thead>
       <tr>
         <th class="col-sm-1">id</th>
         <th class="col-sm-3">Name</th>
         <th class="col-sm-2">City</th>
         <th class="col-sm-2">Street</th>
         <th class="col-sm-2">Date</th>
         <th class="col-sm-1" >Trees No.</th>
         <th class="col-sm-1">Edit</th>
       </tr>
      </thead>
      <tbody>
        {% for inventory in inventorys %}

          <span>
            <tr>
              <td>{{inventory.id}}</td>
              <td>{{inventory.name}}</td>
              <td>{{inventory.city}}</td>
              <td>{{inventory.street}}</td>
              <td>{{inventory.created_date}}</td>
              <td>{{inventory.treenum}}</td>
              <td>  <a href="/inventory/{{inventory.id}}/" class="btn btn-success btn-sm" role="button"> Click </a></td>
            </tr>
          </span>

       {% endfor %}

      </tbody>
    </table>
</div>

{% endblock content %}
