{% extends 'inventory/base.html' %}
{% block content %}


<div class="container">
  <ol class="breadcrumb  brand-primary">
    <li class="breadcrumb-item"><a href="/">Inventory List</a></li>
    <li class="breadcrumb-item"><a href="/inventory/{{id}}/">Inventory {{id}}</a></li>
  </ol>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>
            Inventory {{id}} </br><small>({{form.instance.created_date|date:"D, d-m-Y"}})</small>
          </h4>
        </div>
        <div class="panel-body">

          <form action="/inventory/{{id}}/" method="post" class="form-horizontal">
              {% csrf_token %}
              <div class="fieldWrapper">
                  <div class="row form-group">

                      <label class="control-label col-sm-3" for="id_name">Name:</label>
                      <div class="col-sm-9">
                        <div><span class="label label-danger">{{ form.name.errors.as_text }}</span></div>
                        <input class="form-control" type="text" name="name" value="{{form.name.value}}" maxlength="200" required id="id_name" />
                      </div>
                  </div>
              </div>
              <div class="fieldWrapper">
                  <div class="row form-group">
                      <label class="control-label col-sm-3" for="id_city">City:</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" name="city" value="{{form.city.value}}" maxlength="200" required id="id_city" />
                      </div>
                  </div>
              </div>
              <div class="fieldWrapper">
                  <div class="row form-group">
                      <label class="control-label col-sm-3" for="id_street">Street:</label>
                      <div class="col-sm-9">
                        <div><span class="label label-danger">{{ form.street.errors.as_text }}</span></div>
                        <input class="form-control" type="text" name="street" value="{{form.street.value}}" maxlength="200" required id="id_street" />
                      </div>
                  </div>
              </div>
              <div class="fieldWrapper">
                  <div class="row form-group">

                      <label class="control-label col-sm-3" for="id_code">Code:</label>
                      <div class="col-sm-9">
                        <div><span class="label label-danger">{{ form.code.errors.as_text }}</span></div>
                        <input class="form-control" type="text" name="code" value="{{form.code.value}}" maxlength="200"  id="id_code" />
                      </div>
                  </div>
              </div>
              <div class="fieldWrapper">
                  <div class="row form-group">

                      <label class="control-label col-sm-3" for="id_client_name">Client name:</label>
                      <div class="col-sm-9">
                        <div><span class="label label-danger">{{ form.client_name.errors.as_text }}</span></div>
                        <input class="form-control" type="text" name="client_name" value="{{form.client_name.value}}" maxlength="200" required id="id_client_name" />
                      </div>
                  </div>
              </div>

              {{ form.created_date.as_hidden  }}
              <div class="form-group row">
                    <div class="offset-sm-6 col-sm-12">
                      <input type="submit" name="inventory" value="Submit" class="btn btn-success btn-lg" role="button"/>
                      {% if id  %}
                      <input type="submit" name="delete" value="Delete" class="btn btn-danger btn-lg" role="button"/>
                      {% endif %}
                    </div>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-7">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            Number of trees {{trees.count }}
          </h4>
        </div>
        <div class="panel-body">
              <table class="table table-striped">
                  {% for tree in trees %}
                      <tr>
                          <td class="col-sm-1">{{tree.tree_number}}</td>
                          <td class="col-md-4"><span>{{tree.name}}</span></td>
                          <td class="col-md-3">{{tree.latin_name}}</td>
                          <td class="col-md-2">
                            <form action="/inventory/{{id}}/tree/{{tree.id}}/delete/" method="post">
                                {% csrf_token %}
                                <button name="delete" class="btn btn-danger btn-sm" role="button">Delete</button>
                            </form>
                            </td>
                          <td class="col-md-2">
                            <a href="/inventory/{{id}}/tree/{{tree.id}}/" class="btn btn-success btn-sm" role="button"> Edit </a>
                          </td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
          {% if id  %}
              <a href="/inventory/{{id}}/tree/0/" class="btn btn-success btn-lg" role="button">Add Tree</a>
          {% endif %}


        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
