<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Inventory Table</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

  <form method="post" action="">
    {{ formset.management_form }} {{ formset.non_form_errors.as_ul }}
    <table id="formset" class="form">
      {% for form in formset.forms %} {% if forloop.first %}
      <thead>
        <tr>
          {% for field in form.visible_fields %}
          <th>{{ field.label|capfirst }}</th>
          {% endfor %}
        </tr>
      </thead>
      {% endif %}
      <tr>
        {% for field in form.visible_fields %}
        <td>
          {# Include the hidden fields in the form #}
          {% if forloop.first %}
            {% for hidden in form.hidden_fields %}
              {{ hidden }} 
            {% endfor %}
          {% endif %}
          {{ field.errors.as_ul }}
          {{ field.value }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <a href="\inventory\{{inventory.id}}\csv\" download="filename.csv">Save</a>
</body>

</html>
