{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
         <link rel="stylesheet" href="{% static 'css/proprii.css' %}">
        <title>Tree Inventory</title>
    </head>
    <body>
        <div>
            <h1><a href="">Tree Inventory</a></h1>
        </div>

        <div>
              <a href="">{{ inventory }}</a>
        </div>
        <fieldset class="module aligned ">
          <div class="form-row field-author">
            <div>
              <label class="required" for="id_author">Author:</label>
              <div class="related-widget-wrapper">
                <select id="id_author" name="author" required>
                  <option value="">---------</option>
                  <option value="1" selected="selected">andrzej</option>
                </select>
                <a class="related-widget-wrapper-link change-related" id="change_id_author" data-href-template="/admin/auth/user/__fk__/change/?_to_field=id&amp;_popup=1" title="Change selected user">
                  <img src="/static/admin/img/icon-changelink.svg" alt="Change"/>
                </a>
                <a class="related-widget-wrapper-link add-related" id="add_id_author" href="/admin/auth/user/add/?_to_field=id&amp;_popup=1" title="Add another user">
                  <img src="/static/admin/img/icon-addlink.svg" alt="Add"/>
                </a>
              </div>
            </div>
          </div>
          <div class="form-row field-name">
            <div>
              <label class="required" for="id_name">Name:</label>
              <input class="vTextField" id="id_name" maxlength="200" name="name" type="text" value="{{inventory.name}}" required />
            </div>
          </div>
          <div class="form-row field-city">
            <div>
              <label class="required" for="id_city">City:</label>
              <input class="vTextField" id="id_city" maxlength="100" name="city" type="text" value="{{inventory.city}}" required />
            </div>
          </div>
          <div class="form-row field-street">
            <div>
              <label class="required" for="id_street">Street:</label>
              <input class="vTextField" id="id_street" maxlength="100" name="street" type="text" value="{{inventory.street}}" required />
            </div>
          </div>
          <div class="form-row field-code">
            <div>
              <label class="required" for="id_code">Code:</label>
              <input class="vTextField" id="id_code" maxlength="10" name="code" type="text" value="{{inventory.code}}" required />
            </div>
          </div>
          <div class="form-row field-created_date">
            <div>
              <label class="required" for="id_created_date_0">Created date:</label>
              <input class="vTextField" id="id_created_date" maxlength="20" name="code" type="text" value="{{inventory.created_date}}" required />
            </div>
          </div>
          <div class="form-row field-client_name">
            <div>
              <label class="required" for="id_client_name">Client name:</label>
              <input class="vTextField" id="id_client_name" maxlength="200" name="client_name" type="text" value="{{inventory.client_name}}" required />
            </div>
          </div>
        </fieldset>

        <div class="submit-row">
        <input type="submit" value="Save" class="default" name="_save" />


            <p class="deletelink-box"><a href="/admin/inventory/inventory/1/delete/" class="deletelink">Delete</a></p>


        <input type="submit" value="Save and add another" name="_addanother" />
        <input type="submit" value="Save and continue editing" name="_continue" />
        </div>


      </body>
</html>
