  {% extends 'inventory/base.html' %}
{% block content %}


<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inventory List</a></li>
    <li class="breadcrumb-item"><a href="/inventory/{{id}}/">Inventory {{id}}</a></li>
    <li class="breadcrumb-item"><a href="/inventory/{{id}}/tree/{{id_t}}/">Tree {{id_t}}</a></li>
  </ol>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            Tree details
          </h4>
          </div>
          <div class="panel-body">

            <form action="/inventory/{{id}}/tree/{{id_t}}/" method="post" class="form-horizontal">
                  <div class="form-group">
                  {% csrf_token %}
                  </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="id_name">Name:</label>
                        <div class="col-sm-9">
                          <input value={{form.name.value}} class="form-control" type="text" name="name" maxlength="200" required id="id_name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="id_latin_name">Latin name:</label>
                        <div class="col-sm-9">
                          <input value={{form.latin_name.value}} class="form-control" type="text" name="latin_name" maxlength="200" required id="id_latin_name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="id_height_m">Height m:</label>
                        <div class="col-sm-9">
                          <input value={{form.height_m.value}} class="form-control" type="number" name="height_m"  required id="id_height_m" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="id_crown_m">Crown m:</label>
                        <div class="col-sm-9">
                          <input value={{form.crown_m.value}} class="form-control" type="number" name="crown_m" required id="id_crown_m" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="id_notes">Notes:</label>
                        <div class="col-sm-9">
                          <textarea class="form-control" name="notes" cols="10" rows="3" width="100%" id="id_notes">{{form.notes.value}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                      <input type="submit" name="tree" value="Submit" class="btn btn-success btn-lg" role="button"/>
                      <input type="submit" name="delete" value="Delete" class="btn btn-danger btn-lg" role="button"/>
                    </div>
            </form>
          </div>
        </div>

    </div>
    <div class="col-sm-6">
      <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  Trunk List
                </h4>
              </div>
              <div class="panel-body">
              </div>

              <div class="panel-footer">
                <form method="post" action="/inventory/{{id}}/tree/{{id_t}}/" class="form-inline">

                    {% csrf_token %}

                    <label class="sr-only" for="id_trunk_cm">Trunk cm:</label>
                    <input type="number" name="trunk_cm" placeholder="Trunk CM" required id="id_trunk_cm" class="form-control mb-2 mr-sm-2 mb-sm-0"/>

                    <label  class="sr-only" for="id_meas_height_cm">at</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon">@</div>
                      <input type="number" name="meas_height_cm" required  id="id_meas_height_cm"  value="130" class="form-control">
                    </div>

                    <div class="form-group">
                      <input type="submit" name="add_trunk" value="New Trunk" class="btn btn-info " role="button"/>
                    </div>
                </form>
              </div>

            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <a href="/inventory/{{id}}/tree/{{id_t}}/snap/" class="btn btn-info btn-lg" role="button">Snap A PHOTO</a>
        </div>
      </div>

      {% if formset.forms %}
        <form action="/inventory/{{id}}/tree/{{id_t}}/" method="post">
          <input type="submit" name="delete_imgs" value="Delete selected" class="btn btn-danger btn-lg" role="button" />

            {% csrf_token %}
            {{ formset.management_form }}
            <table class="table table-striped">

                    {% for form in formset.forms %}
                        {% if forloop.first %}
                          <thead>
                            <th>Image</th>
                            {% for field in form  %}
                                <th>{{ field.label_tag }}</th>
                            {% endfor %}
                                <th>Edit</th>
                          </thead>
                        <tbody>
                        {% endif %}
                        <tr>
                            <td class="fieldWrapper">
                              <a class="thumbnail" href="{{ form.instance.picture.url }}">
                                  <img class="img-responsive" src="{{ form.instance.picture.url }}"  alt="">
                              </a>

                            </td>
                            {% for field in form %}
                                <td class="fieldWrapper">
                                  {% if forloop.last %}
                                    {{ field }}
                                  {% else %}
                                    {{ field.value }}
                                    {{ field.as_hidden }}
                                  {% endif %}
                                </td>
                            {% endfor %}
                            {% for hidden in form.hidden_fields %}
                              {{ hidden }}
                            {% endfor %}
                            <td><a href="/inventory/{{id}}/tree/{{id_t}}/img/{{form.id.value}}/"> Click </a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
      {% else %}
        <p>No images to show</p>
      {% endif %}
    </div>
  </div>
</div>
{% load staticfiles%}
{% endblock content %}
